.table {
  td,
  th {
    vertical-align: middle;
  }
}

.check {
  width: 40px;
  height: 40px;
  color: green;
}

.ant-table-wrapper {
  .ant-table-thead > tr > th {
    text-align: center;
  }
}

.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-icon {
    border: none;
    border-radius: 3px;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    .icon-size {
      width: 18px;
      height: 18px;
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 4539e0882f86f65d70ca9dc9b0f02cb0ccb643c9
